{% extends 'layouts.html' %}

{% block content %}

<style>
    .lead {
        text-decoration: underline;
    }
</style>

<div class="container">
    <p class="lead text-light">Acerca de nuestro Generador de Contraseñas</p>

    <p class="text-light">En un mundo cada vez más digitalizado y conectado, la seguridad de nuestras cuentas en línea es de suma importancia. Es por eso que presentamos nuestro Generador de Contraseñas, una herramienta diseñada para fortalecer la seguridad de tus cuentas en la web.</p>

    <h2 class="text-light">¿Qué hace nuestro Generador de Contraseñas?</h2>

    <p class="text-light">Nuestro Generador de Contraseñas crea contraseñas seguras y robustas que son virtualmente imposibles de adivinar. Utilizando algoritmos avanzados, genera combinaciones únicas de caracteres, números y símbolos, lo que garantiza que tus contraseñas sean altamente seguras y resistentes a los intentos de intrusión.</p>

    <h2 class="text-light">Características clave:</h2>
    
    <ul class="list-group">
        <li class="list-group-item bg-dark text-light border-0"><strong>Seguridad en primer lugar:</strong> Las contraseñas generadas por nuestro servicio están diseñadas con la seguridad como máxima prioridad. Utilizamos métodos criptográficos sólidos para garantizar que tus contraseñas sean altamente resistentes a los ataques cibernéticos.</li>
        <li class="list-group-item bg-dark text-light border-0"><strong>Personalización:</strong> Nuestro generador te permite personalizar la longitud y la complejidad de las contraseñas según tus necesidades específicas.</li>
        <li class="list-group-item bg-dark text-light border-0"><strong>Facilidad de uso:</strong> Con una interfaz simple e intuitiva, nuestro Generador de Contraseñas es fácil de usar para cualquier persona, independientemente de su nivel de experiencia técnica.</li>
        <li class="list-group-item bg-dark text-light border-0"><strong>Acceso en cualquier lugar:</strong> Nuestro servicio está disponible en línea, lo que significa que puedes generar contraseñas seguras desde cualquier dispositivo con acceso a Internet.</li>
        <li class="list-group-item bg-dark text-light border-0"><strong>Privacidad y confidencialidad:</strong> Nos tomamos muy en serio la privacidad y la confidencialidad de tus datos.</li>
    </ul>
    

    <p class="text-light" style="margin-top: 80px;">En resumen, nuestro Generador de Contraseñas es una herramienta indispensable para garantizar la seguridad de tus cuentas en línea en un mundo digital cada vez más complejo y peligroso. ¡Protege tus datos con contraseñas seguras y confía en nuestro generador para mantener tu información a salvo!</p>
</div>
{% endblock %}
